$smartphone : "only screen and (max-width : 560px)"
// $smartphone  : "only screen and (max-width : 520px)"
// $ipad-landscape : "only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)"
//$ipad-portrait  : "only screen and (min-device-width : 768px) and (max-device-width : 1024px)"
$tablet : "only screen and (max-width : 1024px)"

$separator-color : #f06d19

a
    color : #555
a:hover 
    color  : #555
    cursor : pointer
h1
    font-weight : normal
h1 a
    text-decoration : none!important

blockquote
    padding : 13px 13px 21px 15px
    margin-bottom : 3px
    font-family :georgia,serif
    font-style : italic

blockquote:before 
    content : "\201C"
    float: left
    font-size : 40px
    margin-left : -10px
    margin-top : -20px
    font-family : georgia,serif
    color : #eee
    @media #{$tablet}
        font-size  : 30px
    @media #{$smartphone}
        font-size : 20px 

blockquote p
    font-weight : 300
    line-height : 18px
    margin-bottom : 0
    margin-top : 15px
    font-style : italic
    @media #{$tablet}
        margin-top : 5px
    @media #{$smartphone}
        margin-top : -2px

body
    width  : 100%
    height : 100%
    color  : #555
    // @media #{$tablet}
    //     background-color: yellow
    // @media #{$smartphone-portrait}
    //     background-color: red

#head
    width  : 100%
    height : 100%
    height : 100px
    border-bottom : 1px solid black
    background-color : white
    @media #{$tablet}
        height : 50px

#menu
    display : block
    float   : right
    list-style : none
    font-family  : Ratio, sans-serif
    font-size    : 19px
    line-height  : 1.8em
    @media #{$smartphone}
        font-size    : 17px
        line-height  : 2.2em 

#menu li
    float   : right
    cursor  : pointer
    margin-top   : 71px
    margin-right : 5px
    @media #{$tablet}
        margin-top : 22px

#menu li a
    text-decoration: none

#menu li.separator
    color  : lighten($separator-color, 8%)
    
#menu li.selected
    background-color : white

#label
    position  : absolute
    top       : 20px
    left      : 105px
    color     : black
    font-size : 66px
    font-family : 'Bilbo Swash Caps', cursive
    @media #{$tablet}
        top : 9px
        left : 59px
        font-size : 34px
    @media #{$smartphone}
        display : none

#logo
    width  : 80px
    height : 80px
    margin-top : 10px
    margin-left : 10px
    border-radius : 10px
    -webkit-box-shadow: 0px 0px 6px rgba(50,50,50,1)
    -moz-box-shadow: 0px 0px 6px rgba(50,50,50,1)
    box-shadow: 0px 0px 6px rgba(50,50,50,1)
    @media #{$tablet}
        width: 40px
        height: 40px
        margin-top: 6px
        margin-left: 10px

#content
    font-family    : Ratio, sans-serif
    font-size      : 1em
    line-height    : 1.8
    min-height     : 640px
    margin-top     : 14px
    margin-left    : 20%
    margin-right   : 20%
    margin-bottom  : -100px
    padding-bottom : 20px
    text-rendering: optimizeLegibility
    -webkit-font-feature-settings: 'liga', 'dlig'
    @media #{$tablet}
        min-height    : 568px
        margin-top    : 10px
        margin-left   : 10%
        margin-right  : 10%
        margin-bottom : -50px
    @media #{$smartphone}
        min-height   : 0 
        margin-top   : 8px
        font-size    : 0.9em
        line-height  : 1.7
        margin-left  : 5%
        margin-right : 5%

#footer
    width  : 100%
    background-color : white
    border-top : 1px solid black

#footer, .push
    height : 100px
    @media #{$tablet}
        height : 50px
    @media #{$smartphone}
        display : none
