h1 {
  margin: 45px 0px 25px 0px;
  font-family: "museo-slab", Georiga, serif;
  line-height: 1.6;
  border-bottom: 1px solid #cccccc;
  font-weight: normal;
  padding-right: 20%; }
  @media only screen and (max-width: 640px) {
    h1 {
      margin: 30px 0px 20px 0px;
      line-height: 1.4; } }
  h1 a {
    text-decoration: none !important; }

h2 {
  margin-top: 45px;
  margin-bottom: 10px; }
  @media only screen and (max-width: 640px) {
    h2 {
      margin-top: 25px; } }

h3 {
  margin-top: 45px;
  margin-bottom: 10px; }
  @media only screen and (max-width: 640px) {
    h3 {
      margin-top: 25px; } }

h4 {
  margin-top: 10px;
  margin-bottom: 10px; }

p {
  margin: 5px 0 25px 0; }
  @media only screen and (max-width: 640px) {
    p {
      margin: -1px 0 15px 0; } }

pre {
  border: 1px solid #cccccc;
  font-size: 0.9em;
  border-radius: 5px;
  padding: 20px;
  margin: 45px 0 45px 0;
  width: 97%;
  overflow: scroll; }
  @media only screen and (max-width: 640px) {
    pre {
      margin: 25px 0 25px 0;
      padding: 10px 0 10px 10px; } }

a {
  color: #333333; }

a:hover {
  color: #333333;
  cursor: pointer; }

blockquote {
  padding: 30px 13px 45px 15px;
  margin-bottom: 3px;
  font-style: italic; }

blockquote:before {
  content: "\201C";
  float: left;
  font-size: 40px;
  margin-left: -10px;
  margin-top: -8px;
  font-family: georgia, serif;
  color: #eeeeee; }
  @media only screen and (max-width: 1024px) {
    blockquote:before {
      margin-top: -15px; } }
  @media only screen and (max-width: 640px) {
    blockquote:before {
      font-size: 25px;
      margin-top: -25px; } }

blockquote p {
  font-weight: 300;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 15px;
  font-style: italic; }
  @media only screen and (max-width: 1024px) {
    blockquote p {
      margin-top: 5px; } }
  @media only screen and (max-width: 640px) {
    blockquote p {
      margin-top: -2px; } }

@media only screen and (max-width: 640px) {
  img {
    max-width: 300px; } }

body {
  width: 100%;
  height: 100%;
  color: #333333;
  font-family: "museo-sans", sans-serif; }

#head {
  position: relative;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid black;
  z-index: 2; }
  @media only screen and (max-width: 1024px) {
    #head {
      height: 50px; } }

#head:after {
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  position: absolute;
  z-index: 0;
  background: url("../img/chemex_background.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  @media only screen and (max-width: 1024px) {
    #head:after {
      height: 50px; } }

#head .nav_selector {
  position: absolute;
  color: #333333;
  top: 91px;
  display: list-item;
  list-style-position: inside;
  -webkit-transition: left 0.35s ease-in-out, color 0.25s ease-in-out;
  -moz-transition: left 0.35s ease-in-out, color 0.25s ease-in-out;
  -o-transition: left 0.35s ease-in-out, color 0.25s ease-in-out;
  transition: left 0.35s ease-in-out, color 0.25s ease-in-out; }
  @media only screen and (max-width: 1024px) {
    #head .nav_selector {
      top: 41px; } }
  @media only screen and (max-width: 640px) {
    #head .nav_selector {
      top: 41px; } }

#head .nav_selector.loading {
  color: #f06d19; }

#menu {
  position: relative;
  z-index: 2;
  display: block;
  float: right;
  list-style: none;
  font-size: 25px; }
  @media only screen and (max-width: 640px) {
    #menu {
      font-size: 19px; } }

#menu li {
  float: right;
  cursor: pointer;
  margin-top: 69px;
  margin-right: 5px; }
  @media only screen and (max-width: 1024px) {
    #menu li {
      margin-top: 19px; } }
  @media only screen and (max-width: 640px) {
    #menu li {
      margin-top: 27px; } }

#menu li a {
  text-decoration: none; }

#menu li.separator {
  color: #f2853f; }

#label {
  position: absolute;
  top: 41px;
  left: 107px;
  color: #333333;
  opacity: 0.3;
  z-index: 2;
  font-size: 43px;
  text-rendering: optimizeLegibility;
  font-style: italic;
  font-weight: 300; }
  @media only screen and (max-width: 1024px) {
    #label {
      top: 7px;
      left: 65px;
      font-size: 34px; } }
  @media only screen and (max-width: 640px) {
    #label {
      display: none; } }

#logo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 80px;
  height: 80px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 10px;
  display: inline;
  -webkit-box-shadow: 0px 0px 6px #323232;
  -moz-box-shadow: 0px 0px 6px #323232;
  box-shadow: 0px 0px 6px #323232; }
  @media only screen and (max-width: 1024px) {
    #logo {
      width: 40px;
      height: 40px;
      margin-top: 6px;
      margin-left: 10px; } }

#social {
  position: absolute;
  top: 125px;
  right: 10px;
  font-size: 2.5em;
  opacity: 0; }
  @media only screen and (max-width: 1024px) {
    #social {
      top: 70px;
      right: 20px;
      font-size: 2em; } }
  @media only screen and (max-width: 640px) {
    #social {
      right: 8px;
      font-size: 1.7em; } }
  #social.shown {
    opacity: 1; }
  #social:after {
    content: " ";
    display: block;
    clear: both; }
  #social div {
    float: left;
    margin-right: 20px; }
  #social a {
    text-decoration: none; }

#content {
  color: #333333;
  font-size: 18px;
  line-height: 28px;
  min-height: 640px;
  margin-top: 14px;
  margin-left: 18%;
  margin-right: 18%;
  margin-bottom: -100px;
  padding-bottom: 20px;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "liga", "dlig"; }
  @media only screen and (max-width: 1024px) {
    #content {
      font-size: 18px;
      min-height: 568px;
      margin-top: 10px;
      margin-left: 10%;
      margin-right: 10%;
      margin-bottom: -50px; } }
  @media only screen and (max-width: 640px) {
    #content {
      min-height: 0;
      margin-top: 8px;
      font-size: 14px;
      line-height: 1.7;
      margin-left: 5%;
      margin-right: 5%; } }

#footer {
  width: 100%;
  background-color: white;
  text-align: center; }

#footer, .push {
  height: 100px; }
  @media only screen and (max-width: 1024px) {
    #footer, .push {
      height: 50px; } }
  @media only screen and (max-width: 640px) {
    #footer, .push {
      display: none; } }

.date {
  margin-top: -51px;
  font-size: 85%;
  color: #cccccc;
  float: right; }
  @media only screen and (max-width: 640px) {
    .date {
      margin-top: -38px; } }
