
$smartphone-landscape : "only screen and (min-width : 521px)"
$smartphone-portrait  : "only screen and (max-width : 520px)"
$ipad-landscape : "only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)"
//$ipad-portrait  : "only screen and (min-device-width : 768px) and (max-device-width : 1024px)"
$ipad-portrait  : "only screen and (max-width : 1024px)"

body
    position : fixed
    top      : 0
    bottom   : 0
    left     : 0
    right    : 0
    color    : #555
    // @media #{$ipad-portrait}
    //     background-color: yellow
    // @media #{$smartphone-portrait}
    //     background-color: red

#head
    position : fixed
    top      : 0
    left     : 0
    right    : 0
    height   : 100px
    border-bottom : 1px solid black
    @media #{$ipad-portrait}
        height : 50px

#menu
    display : block
    float   : right
    width   : 300px
    list-style : none
    font-family  : Ratio, sans-serif
    font-size    : 1em
    line-height  : 1.8

#menu li
    float   : right
    cursor  : pointer
    margin-top   : 78px
    margin-right : 8px
    @media #{$ipad-portrait}
        margin-top : 28px

#menu li a
    text-decoration: none

#menu li.selected
    background-color : white

#label
    position  : absolute
    top       : 20px
    left      : 105px
    color     : black
    font-size : 66px
    font-family : 'Bilbo Swash Caps', cursive
    @media #{$ipad-portrait}
        top : 9px
        left : 59px
        font-size : 34px
    @media #{$smartphone-portrait}
        display : none

#logo
    width  : 80px
    height : 80px
    margin-top : 10px
    margin-left : 10px
    border-radius : 10px
    -webkit-box-shadow: 0px 0px 6px rgba(50,50,50,1)
    -moz-box-shadow: 0px 0px 6px rgba(50,50,50,1)
    box-shadow: 0px 0px 6px rgba(50,50,50,1)
    @media #{$ipad-portrait}
        width: 40px
        height: 40px
        margin-top: 6px
        margin-left: 10px

#content
    font-family  : Ratio, sans-serif
    font-size    : 1em
    line-height  : 1.8
    margin-top   : 120px
    margin-left  : 20%
    margin-right : 20%
    text-rendering: optimizeLegibility
    -webkit-font-feature-settings: 'liga', 'dlig'
    @media #{$ipad-portrait}
        margin-top : 60px
        margin-left  : 10%
        margin-right : 10%
    @media #{$smartphone-portrait}
        font-size    : 0.9em
        line-height  : 1.7
        margin-left  : 5%
        margin-right : 5%

#content a
    text-decoration: underline!important


